@model AcunMedyaHospitalProject.Entities.Doctor
@{
    ViewBag.Title = "CreateDoctor";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Doktor Ekleme Formu</h4>
            <p class="card-description">Hastaneye yeni doktor girişini bu formdan yapabilirsiniz.</p>
            <form method="post" class="forms-sample">
                <div class="form-group">
                    <label for="exampleInputUsername1">Ad: </label>
                    @Html.TextBoxFor( x => x.FirstName, new { @class = "form-control" })
                    <span class="text-danger">@Html.ValidationMessageFor(x => x.FirstName)</span>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Soyad</label>

                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                    <span class="text-danger">@Html.ValidationMessageFor(x => x.LastName)</span>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Resim Urlsi : </label>

                    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                    <span class="text-danger">@Html.ValidationMessageFor(x => x.ImageUrl)</span>
                </div>
                <div class="form-group">
                    <label for="exampleInputConfirmPassword1">Bölüm</label>
                    @Html.DropDownListFor(x => x.DepartmentId, (SelectList)TempData["Departments"], "Bölüm Seçiniz", new { @class = "form-control" })
                    <span class="text-danger">@Html.ValidationMessageFor(x => x.DepartmentId, "lutfen bolum seciniz")</span>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
            </form>
        </div>
    </div>
</div>