@model AcunMedyaHospitalProject.Entities.Doctor
@{
    ViewBag.Title = "UpdateDoctor";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Doktor Güncelleme Formu</h4>
            <p class="card-description">Kayıtlı doktorları bu sayfa üzerinden güncelleyebilirsiniz.</p>
            <form method="post" class="forms-sample">
                <div class="form-group>
                    <label for="Name">Ad: </label>
                    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", id = "Name" })
                    <span class="text-danger">@Html.ValidationMessageFor(x => x.FirstName)</span>
                </div>

                <div class="form-group">
                    <label for="LastName">Soyad: </label>
                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", id = "LastName" })
                    <span class="text-danger">@Html.ValidationMessageFor(x => x.LastName)</span>
                </div>

                <div class="form-group">
                    <label for="image_url">Resim Url</label>
                    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control", id = "image_url" })
                    <span class="text-danger">@Html.ValidationMessageFor(x => x.ImageUrl)</span>
                </div>

                <div class="form-group">
                    <label for="department">Bölüm: </label>
                    @Html.DropDownListFor(x => x.DepartmentId, (SelectList)TempData["Departments"], "Bölüm Seçiniz", new { @class = "form-control", id = "department" })
                    <span class="text-danger">@Html.ValidationMessageFor(x => x.DepartmentId, "Lütfen bölüm seçiniz")</span>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Güncelle</button>
            </form>
        </div>
        </div>
</div>